<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

</head>
<body>

<div style="width:80%; margin:auto; margin-top:20px">
<h2>Alege camera dorita!</h2>
<div class="card" style="width: 18rem; float:left; margin-left:20px;" th:each="room : ${rooms}">
    <img class="card-img-top" src="https://9c401805f5baa067c575-09d1411f3dd7d95893f250fe5ea1fdb3.ssl.cf1.rackcdn.com/responsive/1280:492/9c401805f5baa067c575-09d1411f3dd7d95893f250fe5ea1fdb3.ssl.cf1.rackcdn.com/lps/assets/u/Classic-Room-Hotel-Grande-Bretagne-Luxury-Collection-Athens-Greece-SPG-Marriott-Rewards_2.jpg" >
    <div class="card-body">
        <h5 class="card-title" th:text="${room.title}"></h5>
        <p class="card-text" th:text="${room.description}"></p>
        <p class="card-text" th:text="${room.price}"></p>
        <a th:href="@{'/book?roomId=' + ${room.id}}" class="btn btn-primary">Rezerva</a>
    </div>
</div>
</div>

</body>
</html>